html{
	box-sizing: border-box;
}



.button {
	height: 100px;
	width: 100px;
	font: 30px;
	padding-top: 10px;
	border-radius: 50%;
	border: 2px solid purple;
	margin: 5px auto;
	overflow: none;
	display: inline-block;
}

.button.red{
	/*display: none;*/
	position: absolute;
	top: 100px;
	left: 250px;
}
.button.blue{
	position: absolute;
	right: 300px;
	bottom: 250px;
}
.blue {
	background-color: blue;
}
.red {
	background-color: red;

}

.container{
	position: relative;
	background: cornflowerblue;
	height: 600px;
	width: 600px;
}