<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Spotify Player App</title>
	    <link rel="stylesheet" href="/styles/style.css"></link>
	    <script src="jquery/jquery.js"></script>
	    <script src="/styles/click-event.js"></script>
	</head>
	<body>
	    <!--<h1>This is the Home Page</h1>-->
	    {{{body}}}

	</body>
</html>