.circle{
	height: 400px;
	width: 400px;
/*	border-radius: 50%;
	background-color: red;
*/
}

img{
	height: 500px;
	width: 900px;
}

@media (max-width: 868px){
	img {	
		height: 375px;
		width: 800px;
		background-color: blue;
	}
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape){
	img {
		height: 100px;
		width: 100px;
		background-color: green;
	}
}